@use '../scss/base/' as *;
@use '../scss/layout/' as *;

[data-theme] { 
    background-color: var(--background-clr);
    color: var(--clr);
}   

main {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1.5em;

        margin: 0 1.5em;
    }
}

.artwork-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .artwork-title {
        text-align: center;

        width: 60%;

        background-color: #fff;
    
        border: solid 7.5px #eee;
        border-radius: 2px;
        
        border-top-color: #fff;
        border-left-color: #eee;
        border-right-color: #eee;
        border-bottom-color: #eee;
        
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);

        margin-top: 1rem;
    }
}


.image-wrapper {
    position: relative;
    
    border: solid 5vmin #eee;
    border-radius: 2px;
    
    border-top-color: #ddd;
    border-left-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #fff;
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    
    margin-top: 5rem;
    
    &:before {
        content:"";
        position: absolute;
        top: -2vmin;
        left: -2vmin;
        right: -2vmin;
        bottom: -2vmin;
        
        border-radius:2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    }

    &:after {
        content:"";
        position: absolute;
        top: -2.5vmin;
        left: -2.5vmin;
        right: -2.5vmin;
        bottom: -2.5vmin;
        
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    }

    .image-content {
        width: 270px;
        // height: 270px;
        object-fit: cover;
    }
    
}

