@use '../scss/base/' as *;
@use '../scss/layout/' as *;

[data-theme] { 
    background-color: var(--background-clr);
    color: var(--clr);
}   

.section-title {
    letter-spacing: .5rem;
    text-shadow: 
    0.045em 0.045em 0 hsl(45, 100%, 50%),
    0.065em 0.065em 0 hsl(40, 100%, 50%),
    0.075em 0.075em 0 hsl(30, 100%, 50%),
    0.085em 0.085em 0 hsl(15, 100%, 50%);

    display: flex;
    justify-content: center;

    margin-top: 2rem;

}

.artwork-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .artwork-title {
        text-align: center;

        width: 70%;

        background-color: #fff;
    
        border: solid 7.5px #eee;
        border-radius: 2px;
        
        border-top-color: #fff;
        border-left-color: #eee;
        border-right-color: #eee;
        border-bottom-color: #eee;
        
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);

        margin-top: 1rem;
    }
}


.image-wrapper {
    position: relative;
    
    border: solid 4vmin #eee;
    border-radius: 2px;
    
    border-top-color: #ddd;
    border-left-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #fff;
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    
    &:before {
        content:"";
        position: absolute;
        top: -2vmin;
        left: -2vmin;
        right: -2vmin;
        bottom: -2vmin;
        
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    }

    &:after {
        content:"";
        position: absolute;
        top: -2.5vmin;
        left: -2.5vmin;
        right: -2.5vmin;
        bottom: -2.5vmin;
        
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    }

    .regular-image-content {
        width: 270px;
        // height: 270px;
        object-fit: cover;
    }
    
}

.rounded-frame {
    border-top-color: #eee;
    border-left-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #eee;

    border-radius: 100%;

    &::before {
        border-radius: 100%;
    }
    &::after {
        border-radius: 100%;
    }

    .rounded-image {
        border-radius: 100%;
    }
}
