@use '../../styles/base/' as *;

.main {
    width: 100%;
    height: 100vh;
    position: absolute;
}

body {
    // overflow: hidden;
}

.arrow-button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    animation-name: downMotion;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    margin-bottom: 2rem;
    padding-bottom: .1rem;
}

@keyframes downMotion {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(4.5px);
    }
}

#homeSection {
    transition: all 1s ease;
    transition-delay: .5s;
    // background-image: url('');
    // background-position: center;
    // background-size: cover;
}

.hideHome {
    transform: translateY(-100%);
}

.hero-wrapper {
    width: 100%;
}

.hero-wrapper img {
    margin-top: -7rem;
    margin-bottom: -7rem;
}

.gallery-section {
    // transform: translateY(100%);
    transition: 1s;
    transition-delay: .5s;
}

.showGallery {
    transform: translateY(-150%);
}

.logoGallery {
    cursor: pointer;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: .5s;
    transition-delay: 1.8s;
    transform: translateY(-40px);
}

.logoGalleryShow {
    font-weight: bold;
    opacity: 1;
    color: white;
    transform: translateY(0px);
}

.slide-show {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    height: 420px;

    transition: 1.5s;
    transition-timing-function: ease-out;
    overflow: hidden;
}

.card {
    padding: 10px;
    overflow: hidden;
    margin-left: 40px;
    width: 200px;
    height: 300px;
    display: inline-block;
    transition: .5s;
}

.card img {
    cursor: pointer;
    width: 100%;
    height: 20rem;
    transition: .2s;
}

.card img:hover {
    transform: translateX(-10px) scale(2);
}

.showSlide {
    opacity: 1;
    transform: translateX(0%);
    margin-top: 0;
}

.image-wrapper {
    width: fit-content;
    height: fit-content;
    
    position: relative;
    
    border: solid 4vmin #eee;
    border-radius: 2px;
    
    border-top-color: #ddd;
    border-left-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #fff;
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    
    &:before {
        content:"";
        position: absolute;
        top: -2vmin;
        left: -2vmin;
        right: -2vmin;
        bottom: -2vmin;
        
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    }
    
    &:after {
        content:"";
        position: absolute;
        top: -2.5vmin;
        left: -2.5vmin;
        right: -2.5vmin;
        bottom: -2.5vmin;
        
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    }
    
    .regular-image-content {
        width: 270px;
        // height: 270px;
        object-fit: cover;
    }
    
    .medium-image-content {
        width: 300px;
        // height: 230px;
        object-fit: cover;
    }
    
    .large-image-content {
        width: 300px;
        // height: 350px;
        object-fit: cover;
    }
}



.buttons {
    width: 10%;
    text-align: center;
    margin: 0 auto;
}

.button-left,
.button-right {
    width: 3rem;
    height: 3rem;
}
