main {
    .on-paper-regular { 

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 2fr);
        gap: 1.45rem;

        margin: 4rem 1rem;

        @media (min-width: 768px) {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(4, 2fr);
            gap: 1.65rem;
    
            margin: 4rem;
        }
    }
}
