:root, 
[data-theme="default"] {
    // * Default Color Scheme
    --clr-background: hsl(360, 80%, 70%);
    
    --clr-contrast-lower: hsl(0, 0%, 100%);
    --clr-contrast-low: hsl(240, 0%, 80%);
    --clr-contrast-medium: hsl(240, 0%, 50%);
    --clr-contrast-high: hsl(240, 0%, 20%);
    --clr-contrast-higher: hsl(0, 0%, 0%);
}

[data-theme] {
    --background-clr: var(--clr-background);
    --clr: var(--clr-contrast-higher);
}

[data-theme="dark"] {
    --clr-primary: red;
    /* clr contrasts */
    --clr-bg: black;
    --clr-contrast-lower: hsl(240, 6%, 15%);
    --clr-contrast-low: hsl(252, 4%, 25%);
    --clr-contrast-medium: hsl(240, 1%, 57%);
    --clr-contrast-high: hsl(0, 0%, 89%);
    --clr-contrast-higher: white;
}