:root, 
[data-theme="default"] {
    // * Default Color Scheme
    --clr-background: hsl(40, 40%, 85%);
    --clr-header: hsl(40, 40%, 90%);
    --clr-footer: hsl(0, 0%, 10%);

    // * Contrasts
    --clr-contrast-lower: hsl(0, 0%, 90%);
    --clr-contrast-low: hsl(240, 0%, 80%);
    --clr-contrast-medium: hsl(240, 0%, 50%);
    --clr-contrast-high: hsl(240, 0%, 20%);
    --clr-contrast-higher: hsl(0, 0%, 0%);
}

[data-theme] {
    --background-clr: var(--clr-background);
    --clr: var(--clr-contrast-higher);
}

[data-theme="dark"] {
     // * Default Color Scheme
     --clr-background: hsl(40, 40%, 90%);
     --clr-header: hsl(40, 40%, 85%);
    
    //  *Constrasts
    --clr-contrast-lower: hsl(240, 0%, 10%);
    --clr-contrast-low: hsl(252, 0%, 25%);
    --clr-contrast-medium: hsl(240, 0%, 55%);
    --clr-contrast-high: hsl(0, 0%, 90%);
    --clr-contrast-higher: hsl(0, 0%, 100%);
}

::selection {
    background-color: var(--clr-contrast-higher);
    color: var(--clr-contrast-low);
  }